$controls-height = 40px
$track-height = 8px
$controls-panel-bg = rgba(0, 0, 0, 0.7)

$track-height-default = 3px
$progress-color = #ffffff
$track-color = rgba(#ffffff, 0.2)
$buffered-color = rgba(#fff, 0.3)
$seek-hover = rgba(#fff, 0.5)

.ui-video-seek-slider
	position relative

	&:focus
		outline none

	.track
		padding 10px 0
		cursor pointer
		outline none

		&:focus
			border 0
			outline none

		.main
			width 100%
			height $track-height-default
			background-color $track-color
			border-radius 30px
			position absolute
			left 0
			top 10 - ($track-height-default / 2)
			overflow hidden
			transition transform .4s
			outline none

			&:focus
				border 0
				outline none

			.buffered
				position absolute
				background-color $buffered-color
				width 100%
				height 100%
				transform scaleX(0)
				z-index 2
				transform-origin 0 0

			.seek-hover
				position absolute
				background-color $seek-hover
				width 100%
				height 100%
				z-index 1
				transform scaleX(0)
				transform-origin 0 0
				opacity 0
				transition opacity .4s

			.connect
				position absolute
				background-color $progress-color
				width 100%
				height 100%
				z-index 3
				left 0
				transform scaleX(0)
				transform-origin 0 0

		&.active
			.main
				transform scaleY(2)

	.thumb
		pointer-events none
		position absolute
		width 12px
		height 12px
		left -6px
		top 4px
		z-index 4
		transform translateX(0px)

		.handler
			transition transform .2s
			border-radius 100%
			width 100%
			height 100%
			background-color $progress-color
			opacity 0
			transform scale(0.4)

		&.active
			.handler
				opacity 1
				transform scale(1)

	.hover-time
		//transition opacity 0.2s
		position absolute
		background-color rgba(#000, 0.3)
		line-height 18px
		font-size 16px
		color #ddd
		top -25px
		left 0
		padding 5px 10px
		border-radius 5px
		box-shadow 0 0 5px rgba(#000, 0.3)
		opacity 0
		transform translateX(150px)
		pointer-events none

		&.active
			opacity 1

	&:hover
		.track
			.main
				.seek-hover
					opacity 1

.ui-video-adv-slider
	position absolute
	left 0
	bottom 35px
	overflow hidden
	padding 10px
	box-sizing border-box
	z-index 10

	&.hide
		opacity 0
		pointer-events none

	.ui-video-adv-slider-wrapper
		width 100%
		height 100%
		overflow hidden
		margin 0 auto

		.slides-container
			width 2000px
			overflow hidden

			.ui-video-adv-slide
				display inline-block
				float left
				margin-top 10px
				margin-bottom 10px
				box-sizing border-box

				& > img
					width 100%

$width = 80px;

.ui-video-loader
	position absolute
	left 50%
	top 50%
	margin-left -($width/ 2)
	margin-top -($width/ 2)
	width $width

	&:before
		content ''
		display block
		padding-top 100%

	.ui-video-loader-circular
		animation rotate 2s linear infinite
		height 100%
		transform-origin center center
		width 100%
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		margin auto

	.ui-video-loader-path
		stroke-dasharray 1, 200
		stroke-dashoffset 0
		animation dash 1.5s ease-in-out infinite
		stroke-linecap round

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}

.ui-video-player-component
	background-color #101010
	position relative
	min-width 304px

	.ui-video-player-wrapper
		position absolute
		width 100%
		height 100%
		overflow hidden
		left 0
		top 0

	.ambiLight
		position absolute
		width 100%
		height 100%
		-webkit-filter: blur(60px);
		filter: blur(60px);
		opacity: 0.75;
		z-index: -1;

	&:focus
		outline 0
		outline-offset -1
		border 0

	&.hide-cursor
		cursor none

	.ui-video-player-loading
		position absolute
		width 100%
		height 100%
		left 0
		top 0
		pointer-events none
		background-size: 100px;
		background-repeat: no-repeat;
		background-position center
		background-image: url(../img/ring.svg);
		z-index 5

	.ui-video-player-ps-splash
		position absolute
		width 80px
		height 80px
		left 50%
		top 50%
		margin-top -40px
		margin-left -40px
		background-color rgba(#fff, .3)
		border-radius 100%
		z-index 5
		transform scale(1)
		transition background-color, opacity .3s

		&.play
			cursor pointer
			background-size: 50px;
			background-repeat: no-repeat;
			background-position 19px 16px
			background-image: url(../img/play.svg);
			opacity .8

			&.hide
				//transform scale(.5)
				cursor default
				opacity 0

		&:hover
			&.play
				background-color rgba(#fff, .5)
				opacity .7

				&.hide
					opacity 0

	.ui-video-player-stalled
		position absolute
		width 100%
		height 100%
		left 0
		top 0
		pointer-events none
		background-color #000
		z-index 11
		color #fff
		text-align center
		font-size 14px

		p
			position absolute
			width 100%
			top 50%
			margin-top -14px

	.adv-main-container
		&.hide
			display none

	.ui-video-player-adv
		transition background-color 0.5s
		position absolute
		width calc(100% - 100px)
		height calc(100% - 100px)
		left 50px
		top 10px
		background rgba(#000, 0.7)
		text-align center
		z-index 10

		h1
			color #fff;
			font-size 20px

	.ui-video-player-controls
		position absolute
		width 100%
		height $controls-height
		bottom 0
		left 0
		box-sizing border-box
		z-index 15

		&.hide
			pointer-events none

			.controllers-block
				transform translateY($controls-height + 10)
				opacity 0

			.overlay
				opacity 0

		.overlay
			transition opacity .5s
			position absolute
			background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
			width 100%
			height 70px
			left 0
			bottom 0
			pointer-events none
			z-index 0

		.controllers-block
			transition transform .3s ease-in-out, opacity .1s
			padding 0 15px
			position relative
			box-sizing border-box
			opacity 1
			transform translateY(0)
			z-index 2
			width 100%
			height 100%

			.ui-video-seek-slider
				position: absolute;
				top: -10px;
				left: 15px;
				width: calc(100% - 30px);
				z-index: 100;

			.play-pause-block
				width 50px
				float left
				display inline-block
				cursor pointer
				position relative
				height 100%
				text-align center
				z-index 1

				&:before
					transition background-image .3s ease
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					background-size: 28px;
					background-repeat: no-repeat;
					background-position center
					left 0
					top 0
					background-image: url('../img/play.svg');

				&.played
					&:before
						background-image: url('../img/pause.svg');

			.controls-time
				height 100%
				line-height $controls-height
				color rgba(#fff, 0.7)
				font-size 14px
				float left
				display inline-block
				padding 0 15px
				z-index 1
				position relative
				pointer-events none
				cursor default

			.fullscreen
				height 100%
				float right
				display inline-block
				width 40px
				position relative
				z-index 1
				cursor pointer

				&:before
					transition transform .3s ease
					content: '';
					width: 100%;
					height: 100%;
					left 0
					top 0
					position: absolute;
					background-size: 28px;
					background-repeat: no-repeat;
					background-position center
					background-image: url('../img/fs.svg');
					transform scale(0.8)

			.hq-text
				transition transform .3s ease
				height: 100%;
				float: right;
				display: inline-block;
				min-width: 40px;
				position: relative;
				z-index: 1;
				cursor: pointer;
				color: #fff;
				font-weight: 100;
				line-height: $controls-height
				transform scale(0.8)

				&:hover
					transform scale(1)

			.hq
				height 100%
				float right
				display inline-block
				width 40px
				position relative
				z-index 1
				cursor pointer

				&:before
					transition transform .3s ease
					content: '';
					width: 100%;
					height: 100%;
					left 0
					top 0
					position: absolute;
					background-size: 28px;
					background-repeat: no-repeat;
					background-position center
					background-image: url('../img/hq.svg');
					transform scale(0.8)

				&:hover
					&:before
						transform scale(1)

				&.opened
					&:before
						transform scale(1)

					&:hover
						&:before
							transform scale(0.8)

			.sound-block
				width 130px
				height 100%
				float left
				display inline-block

				.sound-slider
					width 100px
					height 100%
					float leftf
					display inline-block
					position relative
					cursor pointer
					z-index 1

					.ui-video-seek-slider
						position relative
						top: 0
						margin-top ($controls-height / 2) - 10

						.connect
							background-color #fff

						.thumb
							.handler
								background-color #fff

				.sound-icon
					width 30px
					height 100%
					float left
					display inline-block
					position relative
					cursor pointer
					z-index 1

					&:before
						transition background-image .3s ease
						content: '';
						width: 100%;
						height: 100%;
						left 0
						top 0
						position: absolute;
						background-size: 19px;
						background-repeat: no-repeat;
						background-position center
						background-image: url('../img/sound.svg');

					&.mute
						&:before
							background-image: url('../img/mute.svg');

			.fullscreen-block
				width 30px

	.ui-video-player-src
		width 80px
		background rgba(#000, 0.7)
		box-sizing border-box
		padding 10px 0
		right 35px
		bottom $controls-height + 10
		position absolute
		z-index 200
		opacity 1
		transition opacity .3s

		&.hide
			opacity 0
			pointer-events none

		.src-one
			color rgba(#fff, 0.8)
			box-sizing border-box
			padding 5px 15px
			text-align center
			font-size 12px
			cursor pointer

			&:hover
				color rgba(#fff)

			&.active
				color: #4bbf76;