$controls-height = 40px
$track-height = 8px
$controls-panel-bg = rgba(0, 0, 0, 0.7)

@import "./ui-video-seek-slider.styl"

.ui-video-player-component
	background-color #101010
	position relative
	overflow: hidden
	min-width 370px

	.ui-video-player-controls
		transition opacity .5s ease
		position absolute
		width 100%
		height $controls-height
		bottom 0
		opacity 1
		left 0
		box-sizing border-box
		padding 0 15px

		.overlay
			position absolute
			background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
			width 100%
			height 70px
			left 0
			bottom 0
			pointer-events none
			z-index 0

		&.hide
			opacity 0

		.ui-video-seek-slider
			position: absolute;
			top: -10px;
			left: 15px;
			width: calc(100% - 30px);
			z-index: 100;

		.play-pause-block
			width 50px
			float left
			display inline-block
			cursor pointer
			position relative
			height 100%
			text-align center
			z-index 1

			&:before
				transition background-image .3s ease
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				background-size: 28px;
				background-repeat: no-repeat;
				background-position center
				left 0
				top 0
				background-image: url(/img/play.svg);

			&.played
				&:before
					background-image: url(/img/pause.svg);

		.controls-time
			height 100%
			line-height $controls-height
			color rgba(#fff, 0.7)
			font-size 14px
			float left
			display inline-block
			padding 0 15px
			z-index 1
			position relative

		.fullscreen
			height 100%
			float right
			display inline-block
			width 40px
			position relative
			z-index 1
			cursor pointer

			&:before
				transition transform .3s ease
				content: '';
				width: 100%;
				height: 100%;
				left 0
				top 0
				position: absolute;
				background-size: 28px;
				background-repeat: no-repeat;
				background-position center
				background-image: url(/img/fs.svg);
				transform scale(0.8)

			&:hover
				&:before
					transform scale(1)

			&.opened
				&:before
					transform scale(1)

				&:hover
					&:before
						transform scale(0.8)

		.sound-block
			width 130px
			height 100%
			float left
			display inline-block

			.sound-slider
				width 100px
				height 100%
				float left
				display inline-block
				position relative
				cursor pointer
				z-index 1

				.ui-video-seek-slider
					position relative
					top: 0
					margin-top ($controls-height / 2) - 10

					.connect
						background-color #fff

					.thumb
						.handler
							background-color #fff

			.sound-icon
				width 30px
				height 100%
				float left
				display inline-block
				position relative
				cursor pointer
				z-index 1

				&:before
					transition background-image .3s ease
					content: '';
					width: 100%;
					height: 100%;
					left 0
					top 0
					position: absolute;
					background-size: 19px;
					background-repeat: no-repeat;
					background-position center
					background-image: url(/img/sound.svg);

				&.mute
					&:before
						background-image: url(/img/mute.svg);

		.fullscreen-block
			width 30px


