$track-color = #C9CCCA


$thumb-color = #000

$thumb-radius = 12px
$thumb-height = 2px
$thumb-width = 24px
$thumb-shadow-size = 4px
$thumb-shadow-blur = 4px
$thumb-shadow-color = rgba(0, 0, 0, .2)
$thumb-border-width = 2px
$thumb-border-color = #f1d500

$track-width = 100%
$track-height = 8px
$track-shadow-size = 1px
$track-shadow-blur = 1px
$track-shadow-color = rgba(0, 0, 0, .2)
$track-border-width = 2px
$track-border-color = #0006dc

$track-radius = 5px
$contrast = 5%


shadow($shadow-size, $shadow-blur, $shadow-color)
	box-shadow $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%)

track()
	cursor pointer
	height $track-height
	transition all .2s ease
	width $track-width

thumb()
	shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color)
	background $thumb-color
	border $thumb-border-width solid $thumb-border-color
	border-radius $thumb-radius
	cursor pointer
	height $thumb-height
	width $thumb-width

.ui-video-player-controls
	width 100%

	input[type='range']
		-webkit-appearance none
		margin ($controls-height / 2) - ($track-height / 2) 0
		width $track-width

		&:focus
			outline 0

			&::-webkit-slider-runnable-track
				background lighten($track-color, $contrast)

			&::-ms-fill-lower
				background $track-color

			&::-ms-fill-upper
				background lighten($track-color, $contrast)

		&::-webkit-slider-runnable-track
			track()
			//shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color)
			background $track-color
			//border $track-border-width solid $track-border-color
			//border-radius $track-radius

		&::-webkit-slider-thumb
			thumb()
			//-webkit-appearance none
			margin-top -3px

		&::-moz-range-track
			track()
			shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color)
			background $track-color
			border $track-border-width solid $track-border-color
			border-radius $track-radius

		&::-moz-range-thumb
			thumb()

		&::-ms-track
			track()
			background transparent
			border-color transparent
			border-width ($thumb-height / 2) 0
			color transparent

		&::-ms-fill-lower
			shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color)
			darken($track-color, $contrast)
			border $track-border-width solid $track-border-color
			border-radius $track-radius * 2

		&::-ms-fill-upper
			shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color)
			background $track-color
			border $track-border-width solid $track-border-color
			border-radius $track-radius * 2

		&::-ms-thumb
			thumb()
			margin-top 0

