.ui-video-adv-slider
	position absolute
	left 0
	bottom 35px
	overflow hidden
	padding 10px
	box-sizing border-box
	z-index 10

	&.hide
		opacity 0
		pointer-events none

	.ui-video-adv-slider-wrapper
		width 100%
		height 100%
		overflow hidden
		margin 0 auto

		.slides-container
			width 2000px
			overflow hidden

			.ui-video-adv-slide
				display inline-block
				float left
				margin-top 10px
				margin-bottom 10px
				box-sizing border-box

				& > img
					width 100%















